article {
  margin-bottom: 30px;
  border: 1px solid black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  article {
    width: 70%;
  }
}
@media (max-width: 600px) {
  article {
    width: 90%;
  }
}
