header {
  display: flex;
  background-color: #262626;
  color: white;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  img {
    width: 200px;
    height: 200px;
  }
}
