<form (submit)="validateUser($event)">
  <label for="username">Användarnamn:</label>
  <input type="text" id="username" name="username" [(ngModel)]="username" />
  <br />
  <label for="password">Lösenord:</label>
  <input type="password" id="password" name="password" [(ngModel)]="password" />
  <br />
  @if (errorMessage()) {
    <p class="errormessage">Felaktigt användarnamn eller lösenord!</p>
  }
  @if (inputMessage()) {
    <p class="errormessage">Fyll i både användarnamn och lösenord!</p>
  }
  @if (serverErrorMessage()) {
    <p class="errormessage">Det går tyvärr inte att logga in just nu, försök igen senare.</p>
  }
  <button id="loginbutton">Logga in<img src="/ikoner/login.svg" alt="" /></button>
</form>
